
@media (min-width: 768px) {
    .navbar .navbar-nav{
        float: none;
        display: inline-block;
    }
    .navbar .navbar-collapse{
        text-align: center;
    }
}
.navbar{
    margin-bottom: 0;
}
#main-nav{
    background-color:white;
    border-bottom-color:orangered;
    border-style:double;

}
/*chnage the color of the menu*/
#main-nav .navbar-nav>li>a {
    /* color: #777; */
    color: black;
    font-weight:700;
    font-family: 'Montserrat', sans-serif;

}
/*onhover underline men items*/
#main-nav .navbar-nav>li>a:hover{
    text-decoration: underline;
}
/*navbar brand black*/
#main-nav .navbar-brand{
    color: black;
    font-weight:700;
    font-family: 'Montserrat', sans-serif;
}
#menu-img{
    max-width: 40px;
    max-height: 40px;
    margin-left: 10px;
    margin-top: 8px;
}

#jumbo-main{
    background-color: black;
}

#jum-head{
    color: white;
    font-weight:700;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 50px;
}
.jum-logo{
    max-width:200px;
    max-width:200px;
}

#jum-subh{
    margin-bottom: 50px;
    margin-top:50px;
    font-size:30px;



}
.btn-default{
    border-color: orangered;
    border-radius: 0;
    border-style: double;
    color: orangered;
}

.btn-default:hover{
    color:black;
}

#jum-btn{
    margin-bottom:100px;
}
.jumbotron{
    border-bottom-color: orangered;
    border-bottom: double;
    margin-bottom: 10px;
}

#about-img{
    max-width: 300px;
    max-height: 300px;
}
#about-me{
    color: black;
    font-weight:300;
    font-family: 'Montserrat', sans-serif;
    border-bottom-color:orangered;
    border-bottom-style:solid;
}

.about-me-img{
    margin-top:30px;
    margin-bottom:30px;
}

.about-me-text{
    margin-top:30px;
    margin-bottom:30px;
    font-size: large;

}
.abt-link{
    color:orangered;

}
.abt-link:hover{
    color:orangered;
}

g > path,
g >line {
    fill: none;
    stroke:none;
    shape-rendering: crispEdges;
}

g >#downx{

    stroke:black;
    shape-rendering: crispEdges;
}
#downx >path{
    fill: none;
    stroke:black;
    shape-rendering: crispEdges;
}
g >#upx{

    stroke:black;
    shape-rendering: crispEdges;
}
#upx >path{
    fill: none;
    stroke:black;
    shape-rendering: crispEdges;
}

g > text {

    font-size: 13px;
    font-size: large;
}

#skill-set{
    color: black;
    font-weight:300;
    background-color: #ffece5;
    font-family: 'Montserrat', sans-serif;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
